/* layer: preflights */
*,::before,::after{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}::backdrop{--un-rotate:0;--un-rotate-x:0;--un-rotate-y:0;--un-rotate-z:0;--un-scale-x:1;--un-scale-y:1;--un-scale-z:1;--un-skew-x:0;--un-skew-y:0;--un-translate-x:0;--un-translate-y:0;--un-translate-z:0;--un-pan-x: ;--un-pan-y: ;--un-pinch-zoom: ;--un-scroll-snap-strictness:proximity;--un-ordinal: ;--un-slashed-zero: ;--un-numeric-figure: ;--un-numeric-spacing: ;--un-numeric-fraction: ;--un-border-spacing-x:0;--un-border-spacing-y:0;--un-ring-offset-shadow:0 0 rgb(0 0 0 / 0);--un-ring-shadow:0 0 rgb(0 0 0 / 0);--un-shadow-inset: ;--un-shadow:0 0 rgb(0 0 0 / 0);--un-ring-inset: ;--un-ring-offset-width:0px;--un-ring-offset-color:#fff;--un-ring-width:0px;--un-ring-color:rgb(147 197 253 / 0.5);--un-blur: ;--un-brightness: ;--un-contrast: ;--un-drop-shadow: ;--un-grayscale: ;--un-hue-rotate: ;--un-invert: ;--un-saturate: ;--un-sepia: ;--un-backdrop-blur: ;--un-backdrop-brightness: ;--un-backdrop-contrast: ;--un-backdrop-grayscale: ;--un-backdrop-hue-rotate: ;--un-backdrop-invert: ;--un-backdrop-opacity: ;--un-backdrop-saturate: ;--un-backdrop-sepia: ;}
/* layer: default */
.disabled\:pointer-events-none:disabled{pointer-events:none;}
.absolute{position:absolute;}
.relative{position:relative;}
.before\:absolute::before{position:absolute;}
.after\:absolute::after{position:absolute;}
.right-2{right:0.5rem;}
.top-2{top:0.5rem;}
.before\:bottom-0::before{bottom:0;}
.before\:left-0::before{left:0;}
.before\:right-0::before{right:0;}
.after\:bottom-0::after{bottom:0;}
.after\:left-0::after{left:0;}
.after\:right-0::after{right:0;}
.after\:top-0::after{top:0;}
.z-10{z-index:10;}
.before\:z-2::before{z-index:2;}
.grid{display:grid;}
.grid-cols-2{grid-template-columns:repeat(2,minmax(0,1fr));}
.mx-auto{margin-left:auto;margin-right:auto;}
.ml-auto{margin-left:auto;}
.\[\&_\*\]\:box-border *{box-sizing:border-box;}
.h-9{height:2.25rem;}
.min-h-\[80px\]{min-height:80px;}
.w-auto{width:auto;}
.w-full{width:100%;}
.before\:h-1\/5::before{height:20%;}
.flex{display:flex;}
.flex-shrink-0{flex-shrink:0;}
.flex-wrap{flex-wrap:wrap;}
.cursor-pointer{cursor:pointer;}
.disabled\:cursor-not-allowed:disabled{cursor:not-allowed;}
.resize-none{resize:none;}
.items-center{align-items:center;}
.justify-center{justify-content:center;}
.gap-2{gap:0.5rem;}
.gap-y-3{row-gap:0.75rem;}
.space-y-3>:not([hidden])~:not([hidden]){--un-space-y-reverse:0;margin-top:calc(0.75rem * calc(1 - var(--un-space-y-reverse)));margin-bottom:calc(0.75rem * var(--un-space-y-reverse));}
.border{border-width:1px;}
.border-\#383838{--un-border-opacity:1;border-color:rgb(56 56 56 / var(--un-border-opacity));}
.rounded-md{border-radius:0.375rem;}
.bg-\#121212{--un-bg-opacity:1;background-color:rgb(18 18 18 / var(--un-bg-opacity));}
.bg-\#222{--un-bg-opacity:1;background-color:rgb(34 34 34 / var(--un-bg-opacity));}
.bg-white\/80{background-color:rgb(255 255 255 / 0.8);}
.before\:bg-green-600::before{--un-bg-opacity:1;background-color:rgb(22 163 74 / var(--un-bg-opacity));}
.after\:bg-yellow-300::after{--un-bg-opacity:1;background-color:rgb(253 224 71 / var(--un-bg-opacity));}
.bg-gradient-\[90deg\,\#25AE6A_0\%\,\#68D94B_100\%\]{--un-gradient:90deg,#25AE6A 0%,#68D94B 100%;}
.bg-gradient-linear{background-image:linear-gradient(var(--un-gradient, var(--un-gradient-stops, rgb(255 255 255 / 0))));}
.px-1\.5{padding-left:0.375rem;padding-right:0.375rem;}
.px-3{padding-left:0.75rem;padding-right:0.75rem;}
.px-4{padding-left:1rem;padding-right:1rem;}
.py-\.5{padding-top:0.125rem;padding-bottom:0.125rem;}
.py-1{padding-top:0.25rem;padding-bottom:0.25rem;}
.py-2{padding-top:0.5rem;padding-bottom:0.5rem;}
.pb-10{padding-bottom:2.5rem;}
.pt-4{padding-top:1rem;}
.text-sm{font-size:0.875rem;line-height:1.25rem;}
.text-xs{font-size:0.75rem;line-height:1rem;}
.text-\#999{--un-text-opacity:1;color:rgb(153 153 153 / var(--un-text-opacity));}
.text-\#a2a2a2{--un-text-opacity:1;color:rgb(162 162 162 / var(--un-text-opacity));}
.text-white{--un-text-opacity:1;color:rgb(255 255 255 / var(--un-text-opacity));}
.font-500,
.font-medium{font-weight:500;}
.antialiased{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.hover\:after\:opacity-60:hover::after{opacity:0.6;}
.disabled\:opacity-50:disabled{opacity:0.5;}
.after\:opacity-20::after{opacity:0.2;}
.after\:opacity-60::after{opacity:0.6;}
.outline-none{outline:2px solid transparent;outline-offset:2px;}
.focus-visible\:outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px;}
.after\:blur-sm::after{--un-blur:blur(4px);filter:var(--un-blur) var(--un-brightness) var(--un-contrast) var(--un-drop-shadow) var(--un-grayscale) var(--un-hue-rotate) var(--un-invert) var(--un-saturate) var(--un-sepia);}
.transition-colors{transition-property:color,background-color,border-color,outline-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);transition-duration:150ms;}
.before\:content-\[\'_\'\]::before{content:' ';}
.after\:content-\[\'_\'\]::after{content:' ';}
@media (min-width: 640px){
.sm\:max-w-xl{max-width:36rem;}
.sm\:w-90\%{width:90%;}
.sm\:px-4{padding-left:1rem;padding-right:1rem;}
.sm\:pt-8{padding-top:2rem;}
}